!!!
%html{lang: 'en'}
  %head
    %meta{ charset: 'utf-8' }
    %meta{ 'http-equiv': 'X-UA-Compatible', content: 'IE=edge,chrome=1' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1' }
    %title Test
    %link{ rel: 'stylesheet', type: 'text/css', href: '//oss.maxcdn.com/semantic-ui/2.0.8/semantic.min.css' }
    %script{ src: 'https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js' }
    %script{ src: '//oss.maxcdn.com/semantic-ui/2.0.8/semantic.min.js' }
    %script{ src: 'http://code.highcharts.com/highcharts.js' }
    %script{ src: '//cdn.jsdelivr.net/flowtype.js/1.1/flowtype.min.js' }
    %script{ src: 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js' }
    = partial 'hacks'
  %body
    .ui.fixed.menu
      .ui.container
        .header.item
          %img.ui.avatar.image{ src: 'https://metrouk2.files.wordpress.com/2013/02/ip1705387lady-penelope-from.jpg?w=650&h=616&crop=1' }
          Penelope
        %a#bugs.item
          Critical Bugs
          .ui.label.orange
            9
        %a#chores.item
          Chores
          .ui.label.red
            12
        %a#features.item
          Features
          .ui.green.label
            2
        .item
          .ui.toggle.checkbox
            %input{ type: 'checkbox', id: 'showstats' }
            %label Stats
    = content

